- verb = 'Moderat'
- verb = 'Manag' if current_user.is_admin?
- provide :title, verb + 'e @'+@user.username

h1 #{verb}ing user @#{@user.username}

== render 'form'

- if policy(@user).destroy?
  = link_to 'Delete', "/users/#{@user.id}", data: {confirm: "Are you sure??!"}, method: :delete
