- provide :title, "Pages - All Sources"

h2 Pages posted by any users:
p This listing is not (yet) designed to be well organized. We will incentivize channels to organize content, by rewarding them with our votes.
ul.pages
  = render partial: 'pages/overview', collection: @pages, as: :page
