- provide :title, "Posts - All Sources"

h2 Posts created by any users:
p style='margin-bottom: 1.5em'
 | This listing is not (yet) designed to be well organized. We will incentivize channels to organize content, by rewarding them with our votes.

= render 'posts_table'
