p Hello Sofcoop Admin --

p User #{'@'+@user.username} (cc'd) just submitted a cancellation of their account. They are kind enough to let website users continue to read the #{pluralize(@posts_count, 'post')} they created. (Thanks #{'@'+@user.username}!) Please cancel their account while leaving their post(s) intact, and confirm to #{'@'+@user.username} when it's done.

p Sincerely, Sofcoop Website
