div
  | TO: 
  = '@' + @comment.author.username

p Your comment linked below has just been put on moderation; most users will not be able to see it until/unless a moderator approves it. You can still see it though:

blockquote
  b = link_to "Your comment on: " + @comment.post.title, @comment_url

p Thanks for commenting!

p Sincerely, Sofcoop Website

hr

h3 Markdown text of your comment:

p = @comment.body

hr
