p Hello Sofcoop Admin --

p We hid versions of a destroyed #{@version.item_type} with item_id #{@version.item_id.to_s} because a new #{@version.item_type} was created with the same item_id -- see version with id #{@version.id}.

p Sincerely, Sofcoop Website
