p Hello Sofcoop Admin --

p User number #{@user.id.to_s} just changed their username from #{'@'+@old_username} to #{'@'+@user.username}

p We automatically updated the filenames on AWS S3 for their avatar and #{@images_count.to_s} images they had uploaded.

p Sincerely, Sofcoop Website
