.alert-success {
    background-color: #dff0d8; /* green */
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice, .alert-process {
    background-color: #fcf8e3; /* yellow */
    border-color: #fbeed5;
    color: #c09853;
    text-align: left;
}

.alert-alert {
    background-color: #fcf8e3; /* yellow */
    border-color: #fbeed5;
    color: #c09853;
    text-align: left;
}

.alert-error {
    background-color: #f2dede; /* red */
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.flashy {
    background-color: #fcf8e3; /* yellow */
    border-color: #fbeed5;
    color: #c09853;
    text-align: left;
    margin: 1rem;
    padding: 1rem;
}
