#{$all-buttons} {
  margin: 0.5rem 0 0.5rem;
}
.actions {
  a:link, a:visited, a:hover {
    color: #fff;
    text-decoration: none;
  }
}

////////// LOGIN: ////////////

.auth {
  background-color: $facebook;
  margin: 1rem;
  a:link, a:visited, a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.facebook {
  background-color: $facebook;
}
.twitter {
  background-color: $twitter;
}
.google {
  background-color: $google;
}