#{$all-buttons} {
  margin: 0.5em 0 0.5em;
}

button.close {
  margin: 0;
  transition: initial;
  font-size: 1.5em;
  @include opacity(.3);
  &:hover,
  &:focus {
    background-color: inherit;
    color: #000;
  }
}