//
// Close icons
// -----------------------------

.close {
  font-size: 1.5rem;
  color: #999;
  @include opacity(1);  // Otherwise it shows through dropdowns.
  &:hover,
  &:focus {
    background-color: inherit;
    color: #444;
    @include opacity(1);
  }
}

button.close {
  margin: 0;
  transition: initial;
}
