label {
  display: inline-block;
}

.check_box {
  margin: 0 0 0.5em 2em;
}

div.form div {
  line-height: 1.15;
  padding-bottom: 0.5em;
}

.form table {
  margin: 0;
  tr td {
    border-style: none;
  }
  .atsign {
    width: 1em;
    text-align: right;
    padding: 0 0 0.8em 0;
  }
  .formtext {
    text-align: right;
    padding: 0 0.5em 0.8em 0;
  }
}

.radio-buttons {
  margin-left: 2em;
  label {
    display: inline;
    font-weight: normal;
  }
  [type="radio"] {
    vertical-align: 8%;
  }
}

////////// SEARCH: ///////////

.search {
  font-size: 0.8em;
  padding: 0.7em 0 0 0;
}

.search-box {
  float: left;
}

.search button {
  background-color: inherit;
  color: #777;
  padding: 0 0 0 0.5em;
  &:hover {
    background-color: inherit;
    color: #000;
  }
}
