label {
  display: inline-block;
}

.check_box {
  margin: 0 0 0.5em 2em;
}

div.form div {
  line-height: 1.15;
  padding-bottom: 0.5em;
}

.form table {
  table-layout: fixed;
  margin: 0;
  tr td {
    border-style: none;
  }
  .formtext {
    text-align: right;
    vertical-align: middle;
    padding: 0 0 0.8em 0;
  }
}

.radio-buttons {
  margin-left: 2em;
  label {
    display: inline;
    font-weight: normal;
  }
  [type="radio"] {
    vertical-align: 8%;
  }
}
