.avatar img {
  border-radius: 25%;
  width: 60px;
}

table.posts .avatar img {
  width: 48px;
}

.login.dropdown .avatar img {
  float: left;
  margin-bottom: 10px;
  width: 32px;
}

.post.avatar img {
  float: left;
  margin-right: 1em;
}

.comments {
  .avatar img {
    float: left;
    margin-right: 0.3em;
    width: 32px;
  }
}