.post {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  i.fa-pencil-square-o {
    position: fixed;
    top: 150px;
    right: 15px;
  }
}

.post .avatar img {
  float: left;
  margin-right: 1rem;
}

.post .body {
  margin-bottom: 2rem;
}

.home-page .post .body {
  z-index: 0;
  position: relative;
}

.timestamp {
  color: $gray-medium;
  font-style: italic;
  font-size: 80%; 
  padding-left: 1rem;
}

.comment-link {
  a:link, a:visited {
    color: $gray-medium;
  }
  a:hover {
    color: $link-color;
  }
}
