.post {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  i.fa-pencil-square-o {
    position: fixed;
    top: 150px;
    right: 15px;
  }
}

.post .avatar img {
  float: left;
}

.post .body {
  margin-bottom: 2rem;
}

.home-page .post .body {
  z-index: 0;
  position: relative;
}

.user-profile, .channel-profile {
  .body {
    position: relative;
  }
  i.fa-pencil-square-o {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.post .channel {
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: 125%; 
}

.timestamp {
  color: $gray-medium;
  font-style: italic;
  font-size: 80%; 
  padding-left: 0.5rem;
}

.versions-nav {
  margin-top: 1rem; 
  color: $gray-medium; 
  font-style: italic;
  a:link, a:visited {
    color: $gray-medium;
  }
}

.comments {
  .timestamp {
    
  }
}

.comment-link {
  a:link, a:visited {
    color: $gray-medium;
  }
  a:hover {
    color: $link-color;
  }
}
