// Copied from vm42?vm5? Might want to add some more styles from scaffolds_original.bak?

pre {
  background-color: #eee;
  padding: 1rem;
}

div {
  &.field, &.actions {
    margin-bottom: 0.6rem;
  }
}

#notice {
  color: green;
  font-style: italic;
}

.field_with_errors {
  padding: 0.13rem;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 28rem;
  border: 2px solid red;
  padding: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 1.3rem;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0.3rem 0.3rem 0.3rem 1rem;
    font-size: 0.75rem;
    margin: -0.5rem;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 0.75rem;
    list-style: square;
  }
}
