// DATA TABLES:

table.data {
  border: 2px solid $theme-color2;
  border-bottom: 5px solid $theme-color2;
  border-collapse: collapse;

  th {
    background-color: $theme-color2;
    color: white;
  }

  th, td {
    border: 1px solid $gray-medium;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    line-height: 1.2rem;
    text-align: center;
    &.author, &.channel {
      padding: 0.4rem 0.2rem 0.1rem 0.2rem;
    }
    &.left {
      text-align: left;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }
  }

  tr:nth-child(odd) {
    background-color: white;
  }

  tr:nth-child(even) {
    background-color: $gray-lightest;
  }
  
  p {
    margin: $small-spacing/2 0 0 0;
    padding: 0 0 $small-spacing/2 0;
    // To fulfill goals: centred in td &
    // not collapsing too tight between paragraphs; also p to list.
  }
}

// IMAGES TABLE "table.data.images":

table.images {
  margin: auto;
  table-layout: auto;
  width: auto;
  max-width: 55rem;
  .text {
    text-align: left;
  }
  .title {
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 1rem;
  }
}

// POSTS TABLE "table.data.posts":

table.posts {
  margin: auto;
  table-layout: auto;
  width: auto;
  .username {
    font-size: 75%;
  }
}

// BALLOT "table.ballot":

table.ballot {
  margin: auto;
  table-layout: auto;
  width: auto;
  border: 2px solid $theme-color2;
  border-bottom: 5px solid $theme-color2;
  border-collapse: collapse;

  th {
    padding: 0.2rem 0.5rem 0.3rem 0.5rem;
    background-color: $theme-color2;
    color: white;
    border: 0;
  }

  th, td {
    line-height: 1.2rem;
    text-align: center;
    vertical-align: middle;
  }
    
  td {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-bottom: 1px solid $theme-color2;
  }
  
  td.vote {
    width: 15vw;
    max-width: 12rem;
    padding: 0;
    font-size: 0.8rem;
    line-height: 1rem;
    select.vote_menu {
      width: 8vw;
      min-width: 4.5rem;
      max-width: 7rem;
      margin: auto;
      vertical-align: middle;
      font-weight: bold;
    }
  }
  
  .avatar img {
    float: left;
    width: 32px;
  }
  
  .channel {
    padding-left: 0;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
    a:link, a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  
  tr.last td {
    background-color: #e5e5e5;
    text-align: left;
    font-size: 0.8rem;
    nav {
      display: inline;
    }
    span.divider {
      padding-left: 0.3rem;
      font-size: 1.2rem;
    }
  }
  
}

// CENTERING (a block of text):

table.centering {
  margin: auto;
  width: auto;
  td {
    border: 0;
  }
}
