// DATA TABLES:

table.data {
  border: 2px solid $theme-color2;
  border-bottom: 5px solid $theme-color2;
  border-collapse: collapse;

  th {
    background-color: $theme-color2;
    color: white;
  }

  th, td {
    border: 1px solid $gray-medium;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    line-height: 1.2rem;
    text-align: center;
    &.author, &.channel {
      padding: 0.4rem 0.2rem 0.1rem 0.2rem;
    }
    &.left {
      text-align: left;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }
  }

  tr:nth-child(odd) {
    background-color: white;
  }

  tr:nth-child(even) {
    background-color: $gray-lightest;
  }
  
  p {
    margin: $small-spacing/2 0 0 0;
    padding: 0 0 $small-spacing/2 0;
    // To fulfill goals: centred in td &
    // not collapsing too tight between paragraphs; also p to list.
  }
}

// IMAGES TABLE:

table.images {
  margin: auto;
  table-layout: auto;
  width: auto;
  max-width: 55rem;
  .text {
    text-align: left;
  }
  .title {
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 1rem;
  }
}

// POSTS TABLE:

table.posts {
  margin: auto;
  table-layout: auto;
  width: auto;
  .username {
    font-size: 75%;
  }
}

// PUBLICATIONS TABLE: might use some above?

table.pubs {
  table-layout: auto;
  min-width: 32rem;
  max-width: 80rem;
  tr:nth-child(even) {
    background-color: $gray-lightest;
  }
}

// MINIMAL TABLE: not needed?

table.minimal {
  table-layout: auto;
  width: 30rem;
  h1 {
    line-height: 1.2;
    margin: 0;
  }
  td {
    border: 0;
    margin: 0;
  }
  td.button {
    margin: 1rem 0 0 0;
  }
}
