// COLORS:

$gray-dark:            #666;
$gray-medium:          #999;
$gray-light:           #ddd;
$gray-lightest:        #f2f2f2;

$theme-color-darker:   #111;
$theme-color-dark:     lighten($theme-color-darker, 2%);
$theme-color:          lighten($theme-color-darker, 10%);
$theme-color-light:    lighten($theme-color-darker, 18%);
$theme-color-lighter:  lighten($theme-color-darker, 20%);
$theme-color-lightest: lighten($theme-color-darker, 65%);
$theme-color2:         $gray-dark;
$link-color:           #03F;

$twitter:              #00aced;
$facebook:             #3b5998;
$google:               #dd4b39;

// TYPOGRAPHY:

$dropdown-font-size:    1rem;

// LAYOUTS:

$footer-height:         2rem;
